body{
    font-family: 'Inter Tight', sans-serif;
}

.Contenido-General{
    width: 60%;
    height: 920px;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
}

.Contenido-Titulo{
    top: 1.32%;
    background-color: aqua;
    position: absolute;
    width: 59.33%;
    height: 10%;
    border-radius: 20px 20px 0 0;
}

.Contenido-General .Titulo{
    text-align: center;
}

.Subtitulo{
    border-top: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    background-color: #F39C12;
}


/*---- Contenido de Datos Personales ----*/
/*----- Foto -----*/
.Contenido-1{
    margin-top: 8.3%;
    margin-bottom: 24%;
}

.Contenido-1 .img{
    position: absolute;
    right: 22.5%;
    top: 16%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px #000000 solid;
}

.Contenido-1 .img img{
    width: 200px;
    height: 200px;
}
/*---------------*/

/*---------------- Datos Personales -----------------------*/
.CS1-1{
    position: absolute;
    top: 16%;
    margin-left: 2%;
} /*Nombre y Apellido*/

.CS1-2{
    position: absolute;
    right: 36%;
    top: 16%;
}/*Fecha de Nacimiento*/

.CS1-3{
    position: absolute;
    top: 20%;
    margin-left: 2%;
}/*Télefono*/

.CS1-4{
    position: absolute;
    margin-left: 18%;
    top: 20%;
}/*Cédula*/

.CS1-5{
    position: absolute;
    top: 20%;
    margin-left: 32%;
}/*Edad*/

.CS1-6{
    position: absolute;
    top: 32%;
    margin-left: 22%;
}/*Correo*/

.CS1-7{
    position: absolute;
    top: 24%;
    margin-left: 2%;
}/*Dirección*/

.CS1-8{
    position: absolute;
    top: 24%;
    margin-left: 24%;
}/*Residencia*/

.CS1-9{
    position: absolute;
    top: 28%;
    margin-left: 2%;
}/*Estado Civil*/

.CS1-10{
    position: absolute;
    top: 28%;
    margin-left: 24%;
}/*Nacionalidad*/

.CS1-11{
    position: absolute;
    top: 32%;
    margin-left: 2%;
}/*Lugar de nacimiento*/
/*----------------------------------------------------------*/


/*----------Contenido de Estudios realizados-----------*/
.Contenido-2{
    margin-bottom: 14%;
}
.CS2-1{
    position: absolute;
    top: 48%;
    margin-left: 2%;
}

.CS2-2{
    position: absolute;
    top: 52%;
    margin-left: 2%;
}

.CS2-3{
    position: absolute;
    top: 56%;
    margin-left: 2%;
}

/*-------- Experiencia Laboral --------*/
.Contenido-3{
    margin-bottom: 8%;
}

.CS3-1{
    position: absolute;
    top: 70%;
    margin-left: 2%;
}


/*-------- Capacitaciones --------*/
.Contenido-4{
    margin-bottom: 8%;
}

.CS4-1{
    position: absolute;
    top: 84%;
    margin-left: 2%;
}

/*-------- Referencias Personales --------*/
.CS5-1{
    position: absolute;
    top: 112%;
}

.CS5-2{
    position: absolute;
    top: 100%;
    margin-left: 30%;
}

.CS5-3{
    position: absolute;
    top: 100%;
}